<html lang="en">

   <head>
      <meta charset="UTF-8">
      <title>A To-Do List</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}" />
      {{/each}}
   </head>
   
   <body>
        {{{body}}}
   </body>
   

</html>
