<h3>Log in to Todo</h3>
<div class="loginDiv">
	<form action="/login" method="post">
		{{message}}
		<br>
		User name: <br>
		<input type="text" name="id"> <br><br>
		Password: <br>
		<input type="password" name="password"> <br><br>
		<input type="submit" value="Log in"> <br>
		<a href="signup">Don't have an account? Sign up here!</a>
	</form>
</div>