<h3>Signup for Todo list!</h3>
<div class="signupDiv">
	<form action="/signup" method="post">
		{{message}}
		<br>
		User name: <br>
		<input type="text" name="id" required> <br><br>
		Password: <br>
		<input type="password" name="password" required> <br><br>
		<input type="submit" value="Sign up">
	</form>
	<a href="login">Back to Log-in</a>
</div>